/*
    MEDIA QUERY MANAGER, divide by 16 to get em
    0 - 375px: Small phone
    375 - 600px: Phone
    600 - 1000px: Tablet portrait
    1000 - 1200px: Tablet landscape
    1200 - 1400px: Desktop (normal styles)
    1400 - 1600px: Desktop 
    >1600px: Big desktops

    $breakpoint argument choices: 
    - small phone
    - phone 
    - tab-port
    - tab-land
    - desktop
    - big-desktop

    ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px
*/
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  50% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 0; }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #eeeeee; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  display: block;
  font-size: 7rem;
  font-weight: 400;
  animation: slideDown 2s ease; }
  @media (max-width: 75em) {
    .heading-primary {
      animation: fade 2s ease; } }
  @media (max-width: 62.5em) {
    .heading-primary {
      font-size: 6rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      text-align: center;
      font-size: 3rem;
      animation: fade 2s ease;
      margin-bottom: 3rem; } }

.heading-secondary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  animation: fade 6s ease; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.7rem;
      text-align: center;
      margin-bottom: 5rem; } }

.heading-tertiary {
  position: relative;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem; }
  .heading-tertiary::after {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 1.5rem;
    height: 2px;
    background-color: #eeeeee; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.7rem; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.5rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.bold {
  font-weight: 800 !important; }

@media (max-width: 75em) {
  .u-display-hidden::after {
    height: 0px !important;
    content: ''; } }

@media (max-width: 62.5em) {
  .u-display-hidden {
    display: none !important; } }

.u-right {
  float: right !important; }

@media (max-width: 37.5em) {
  .mobile-small {
    font-size: 1.5rem !important; } }

@media (max-width: 37.5em) {
  .mobile-hidden {
    display: none; } }

@media (max-width: 37.5em) {
  .mobile-break::after {
    content: '\A';
    white-space: pre-wrap; } }

@media (max-width: 62.5em) {
  .col-cont {
    margin-top: -3rem; } }

.btn {
  color: #eeeeee;
  letter-spacing: 0.2rem;
  animation: fade 8s ease;
  transition: all .2s;
  display: inline-block; }
  .btn:not(:last-child) {
    margin-right: 6rem; }
  @media (max-width: 37.5em) {
    .btn {
      display: block; }
      .btn:not(:last-child) {
        margin-bottom: 1rem;
        margin-right: 0; } }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #eeeeee;
    position: relative;
    font-size: 1.4rem; }
    @media (max-width: 37.5em) {
      .btn, .btn:link, .btn:visited {
        font-size: 1.2rem;
        text-align: center; } }
  .btn:focus, .btn:active {
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #eeeeee;
    position: relative;
    font-size: 1.4rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    color: #eeeeee; }
    @media (max-width: 37.5em) {
      .btn:focus, .btn:active {
        font-size: 1.2rem; } }
    .btn:focus::after, .btn:active::after {
      background-color: #eeeeee; }
      @media (max-width: 37.5em) {
        .btn:focus::after, .btn:active::after {
          background-color: transparent; } }
  .btn::before {
    content: '';
    position: absolute;
    right: -2.1rem;
    top: calc(50% - .2rem);
    bottom: 0;
    width: 2rem;
    height: .1rem;
    background-color: #eeeeee; }
    @media (max-width: 37.5em) {
      .btn::before {
        content: '';
        width: 0;
        height: 0; } }
  .btn::after {
    content: '';
    position: absolute;
    right: -3rem;
    top: calc(50% - .6rem);
    border: 1px solid #eeeeee;
    width: .9rem;
    height: .9rem;
    background-color: transparent; }
    @media (max-width: 37.5em) {
      .btn::after {
        content: '';
        border: none; } }
  .btn:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    background-color: #eeeeee;
    color: #080e2e; }
    .btn:hover::after {
      background-color: #eeeeee;
      box-shadow: 0 1rem 2rem black; }
      @media (max-width: 37.5em) {
        .btn:hover::after {
          background-color: transparent;
          box-shadow: none; } }
  .btn-white:hover {
    box-shadow: 0 1rem 3rem rgba(33, 89, 209, 0.4);
    background-color: #eeeeee;
    color: #080e2e; }
    .btn-white:hover::after {
      background-color: #eeeeee;
      box-shadow: 0 1rem 2.5rem #2159d1; }
      @media (max-width: 37.5em) {
        .btn-white:hover::after {
          background-color: transparent;
          box-shadow: none; } }

.info-box {
  padding-right: 15rem; }
  @media (max-width: 87.5em) {
    .info-box {
      padding-right: 5rem; } }
  @media (max-width: 75em) {
    .info-box {
      padding-right: 2rem; } }
  @media (max-width: 37.5em) {
    .info-box {
      width: inherit;
      padding: 0; } }
  .info-box__text {
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: .1rem;
    text-align: justify;
    text-justify: inter-word; }
    @media (max-width: 37.5em) {
      .info-box__text {
        padding: 0 1rem;
        font-size: 1.4rem; } }
    .info-box__text:not(:last-child) {
      margin-bottom: 3rem; }

.skill-box {
  padding: 4rem 6rem;
  background-color: #1f244e; }
  @media (max-width: 87.5em) {
    .skill-box {
      max-width: 95vw;
      padding: 4rem 5rem;
      margin: auto; } }
  @media (max-width: 37.5em) {
    .skill-box {
      padding: 4rem 0rem; } }
  .skill-box__list {
    list-style: none;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 100; }
    @media (max-width: 37.5em) {
      .skill-box__list {
        padding: 0;
        font-size: 1.4rem; } }
  .skill-box__item {
    position: relative;
    padding-left: 1rem; }
    .skill-box__item::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -1rem;
      width: 1rem;
      height: 2px;
      background-color: #eeeeee; }

.footer {
  background-color: #1f244e;
  padding: 5rem 0;
  font-size: 1.4rem;
  border-top: 1px solid #eeeeee; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 3rem 0;
      font-size: 1.1rem; } }
  @media (max-width: 23.37em) {
    .footer {
      padding: 2rem 0;
      font-size: 1rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 62.5em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 62.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
      @media (max-width: 62.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 3rem; } }
    @media (max-width: 62.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem) / 3); }
    @media (max-width: 75em) {
      .row .col-1-of-3 {
        width: calc( (100%) / 3); } }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(6rem + 2 * (( (100% - 2 * 6rem) / 3))); }
  .row .col-2-of-4 {
    width: calc(6rem + 2 * (( (100% - 3 * 6rem) / 4))); }
  .row .col-3-of-4 {
    width: calc((2 * 6rem) + 3 * (100% - 3 * 6rem) / 4); }

.navigation {
  position: fixed;
  top: 25rem;
  right: 10rem;
  animation: fade 7s ease;
  transition: all .2s; }
  @media (max-width: 87.5em) {
    .navigation {
      right: 5rem; } }
  @media (max-width: 75em) {
    .navigation {
      top: 20rem;
      right: 3rem; } }
  @media (max-width: 62.5em) {
    .navigation {
      top: 87.5vh;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 37.5em) {
    .navigation {
      width: 100vw; } }
  .navigation__list {
    list-style: none;
    background-color: transparent;
    display: inline-table; }
    @media (max-width: 37.5em) {
      .navigation__list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); } }
  .navigation__item {
    display: block;
    font-size: 5rem;
    background-color: transparent; }
    .navigation__item:not(:last-child) {
      margin-bottom: 3rem; }
    @media (max-width: 75em) {
      .navigation__item {
        font-size: 4rem; } }
    @media (max-width: 62.5em) {
      .navigation__item {
        display: inline-block; }
        .navigation__item:not(:last-child) {
          margin-right: 2rem; } }
    @media (max-width: 37.5em) {
      .navigation__item {
        display: inline-block;
        font-size: 2.5rem; } }
    @media (max-width: 23.37em) {
      .navigation__item {
        display: inline-block;
        font-size: 2rem; } }
  .navigation__link {
    border: 1px solid transparent;
    padding: 2rem; }
    @media (max-width: 23.37em) {
      .navigation__link {
        padding: 1rem; } }
    .navigation__link:link, .navigation__link:visited {
      color: #eeeeee;
      text-decoration: none;
      display: block;
      transition: all .2s;
      background-color: transparent; }
    .navigation__link:hover, .navigation__link:focus {
      transition: all .2s;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
      color: #eeeeee;
      padding: 2rem;
      background-color: transparent;
      border: 1px solid #eeeeee;
      outline-style: none; }
      @media (max-width: 23.37em) {
        .navigation__link:hover, .navigation__link:focus {
          padding: .5rem; } }

.section-home {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-image: linear-gradient(to bottom right, rgba(27, 75, 163, 0.9) 10%, rgba(8, 14, 46, 0.9) 70%), url(../img/ipanema-beach-99388_1920.jpg);
  background-position: top;
  background-size: cover;
  overflow: hidden;
  padding: 25rem 15rem; }
  @media (max-width: 75em) {
    .section-home {
      padding: 20rem 10rem; } }
  @media (max-width: 37.5em) {
    .section-home {
      padding: 6rem 7rem; } }
  @media (max-width: 23.37em) {
    .section-home {
      padding: 6rem 4rem; } }

.section-about, .section-skills {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 15rem 15rem;
  background-color: #080e2e;
  border-top: 1px solid #eeeeee; }
  @media (max-width: 75em) {
    .section-about, .section-skills {
      padding: 15rem 10rem;
      padding-left: 7rem;
      height: auto; } }
  @media (max-width: 62.5em) {
    .section-about, .section-skills {
      padding: 15rem 10rem; } }
  @media (max-width: 37.5em) {
    .section-about, .section-skills {
      padding: 6rem 4rem; } }
  @media (max-width: 23.37em) {
    .section-about, .section-skills {
      padding: 6rem 3rem; } }
