// COLORS

$color-white: #fff;
$color-grey:  #eeeeee;
$color-black:  #000;

$color-primary: #1f244e;
$color-primary-light: #2159d1;
$color-primary-dark-1: #1b4ba3;
$color-primary-dark-2: #080e2e;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-smallest: 3rem;
$gutter-horizontal: 6rem;