.skill-box {
    padding: 4rem 6rem;
    background-color: $color-primary;

    @include respond(desktop){
        max-width: 95vw;
        padding: 4rem 5rem;
        margin: auto;
    }

    @include respond(phone){
        padding: 4rem 0rem;
    }
    
    &__list {
        list-style: none;
        padding-left: 1.5rem;
        font-size: $default-font-size;
        font-weight: 100;

        @include respond(phone){
            padding: 0;
            font-size: 1.4rem;
        }
    }

    &__item {
        position: relative;
        padding-left: 1rem;
        
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -1rem;
            width: 1rem;
            height: 2px;
            background-color: $color-grey;
        }
    } 
}